<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <h1 id="top">Welcome to Blocstagram</h1>
    <p>A place to post all of life's little moments and see what your friends are up to!</p>
  </body>
</html>
