<h1>New Post</h1>

  <div class="row">
    <div class="col-md-6">
      <p>Share the pictures that give a deeper insight into your everyday life</p>
    </div>
  <div class="col-md-10">
    <%= render 'form' %>
  </div>
</div>
